body {
    font-size: 25px;
    /* margin: 0 auto; */
    padding: 20%;
}

*{
    margin: 0 auto;
}

.questionButton {
font-size: 20px;
background-color: aqua;
}

.hidden {
display: none;
}  

.startQuizDiv {
    text-align: center;
}

#Question1, #Question2, #Question3, #Question4{
    border: 2px solid black;
    border-radius: 2em;
    background-color: rgb(0,0,0, .3);
}

#listContainer{
    border: 2px solid black;
    border-radius: 2em;
    background-color: rgb(0,0,0, .3)
}